<h1>FRAMEWORK</h1>

<H3>3. O que é framework e na sua opinião qual é a importância de utilizar?</H3>

<p>o Framework provê um template de base com diversas funções para um desenvolvedor, de modo que é desnecessário gastar tempo reproduzindo funções em diversos projetos.

Uma boa comparação é a da caixa de ferramentas: só que, ao invés de chaves de fenda e martelos, há a base para formulários de login, validação de campos e conexão com bancos de dados.

Nesse sentido, como parte da tendência no desenvolvimento de software de tentar reduzir os custos e aumentar a produtividade, o uso de Frameworks tem se tornado cada vez mais difundido.

Hoje, já existe uma grande variedade de soluções disponíveis para as mais diversas linguagens, com comunidades que realizam a testagem e a criação de diferentes funções.</p>
