<h1>Controle de Versões</h1>

<h3>5. Quais as ferramentas para trabalhar com controle de versões. E qual é importância
de versionar o software?</h3>

<p>
As ferramentas mais interessantes atualmente de controle de versão são o Subversion, Git e Mercurial.
</p>

<p>
	O versionamento de software é um processo de controle de versões estabelecido por meio de numerações diferentes. Isso permite que os programadores saibam quando e quais alterações foram realizadas, acompanhando as mudanças aplicadas no software. Além disso, permite que os usuários finais identifiquem as novidades e reconheçam as versões mais atualizadas.
</p>
<p>
	O esquema de sequência na ordem crescente ajuda a evitar a confusão sobre qual versão do software está sendo utilizada. Uma coisa valiosa em um mundo de ameaças virtuais constantes. Além disso, existem outros fatores que tornam o versionamento uma parte estratégica do desenvolvimento de softwares. Conheças os principais abaixo:

Inclusão ou extensão de requisitos que já existem
Códigos de segurança existentes podem precisar de patches para a correção de vulnerabilidades encontradas e, ao implementá-los, a versão deve ser alterada para o conhecimento dos desenvolvedores e usuários.

Novas funcionalidades também podem ser atribuídas gerando outra versão para o software. Mas, nesse caso, o usuário pode optar em trabalhar com a antiga caso não goste ou não precise delas.

Acompanhamento de versões
Todas as mudanças efetuadas na fonte são rastreadas indicando o problema corrigido e o aprimoramento introduzido, bem como os profissionais responsáveis e o motivo das alterações. Ou seja, servirá como um mecanismo para a devida diligência nos projetos de software.

Nesse caso, um sistema de controle de versão será essencial para todo tipo de desenvolvimento, seja particular seja colaborativo. A capacidade de acompanhar cada mudança conforme é realizada e de revertê-la quando necessário pode fazer toda a diferença para um processo bem gerenciado e controlado.

Mudanças na arquitetura
Com as tecnologias de software avançando ininterruptamente, mudanças na estrutura devem ser necessárias durante o desenvolvimento e após o lançamento. Dessa forma, uma mudança na codificação das páginas pode alterar toda a estrutura do software, implicando em uma versão mais moderna. Essas mudanças podem ser mais facilmente acompanhadas com um sistema de versionamento.

Correção de bugs
O controle de versão fornece um histórico completo de cada commit feito por desenvolvedor. Uma vez que as ferramentas modernas permitem trabalhar em múltiplas alterações de arquivos ao mesmo tempo, isso favorece um fácil acompanhamento das mudanças relacionadas.

Também se torna possível fazer uma regressão nas mudanças. Se você perceber que alguma alteração de melhoramento não funcionou bem, pode simplesmente reverter uma por vez até encontrar qual causou o problema.

Ajustes estéticos
O Google segue beneficiando páginas com layouts responsivos na internet, e isso também deve começar a ser exigido dos softwares pelos usuários. Isso implicará em mudanças significativas, transformando o bom funcionamento em dispositivos móveis e online.
</p>