<h1>MVC</h1>
<h3>A - Explique o padrão MVC e como ele funciona. </h3>
<p>
	É um padrão de arquitetura de aplicações  que divide a aplicação em três camadas: a visão (view), o modelo (model), e o controlador (controller). Traduzido para o português, a expressão significa: modelo-visão-controlador.

	O padrão MVC foi desenvolvido em 1979 por Trygve Reenskaug com a finalidade de ser utilizado como arquitetura para aplicativos desketop. Entretanto, o padrão se popularizou para uso em sistemas web, a partir da adesão de milhares de Frameworks de mercado.  </p>

<p>
	Em termos práticas, e de forma resumida, utilizar do padão MVC significa: 
	Dividir a aplicação em camadas: uma da interface do usuário denominada View, uma para manipulação lógica de dados chamada Model, e uma terceira caama de fluxo da aplicação chamada Control)
	Criar a possibilidade de exibir uma mesma lógica de negócios através de várias interfaces.
 	Isolar a camada de negócios (Model) das demais camadas do sistema, de forma a facilitar a sustentabilidade do código
	A implementação do controlador deve permitir que esta camada receba os eventos da interface e e os converta em ações no modelo.
</p>

<h3>B - A classe DAO do JAVA ela se encaixa em qual camada do MVC, explique.</h3>

<p>
	A classe DAO se encaixa na camada Controller do MVC, é um padrão para persistência de dados que permite separar regras de negócio das regras de acesso a banco de dados. Numa aplicação que utilize a arquitetura MVC, todas as funcionalidades de bancos de dados, tais como obter as conexões, mapear objetos Java para tipos de dados SQL ou executar comandos SQL, devem ser feitas por classes DAO.
</p>

<h3>C - Quais os frameworks em javascript mais populares que trabalha na comanda de visão?</h3>

<p>Angular-s</p>
<p>Angular-js</p>
<p>Angular-2</p>
<p>ReactJS</p>
<p>Vue.js</p>
<p>Ember.js</p>

<h3>D. O que é um ORM. Cite o ORM do Ruby on Rails e no Java.</h3>

<p>
	ORM (Object Relational Mapper) é uma técnica de mapeamento objeto relacional que permite fazer uma relação dos objetos com os dados que os mesmos representam. Ultimamente tem sido muito utilizada e vem crescendo bastante nos últimos anos.
	Este crescimento tem se dado principalmente pelo fato de muitos desenvolvedores não se sentirem a vontade em escrever código SQL e pela produtividade que esta técnica nos proporciona. Existem ótimos ORM´s como Hibernate, NHibernate, Entity Framework e etc.
</p>
<p>
	O ORM do Ruy on Rails é o Active Record é o M no MVC - o modelo - que é a camada do sistema responsável por representar dados e lógica de negócios. O Active Record facilita a criação e o uso de objetos de negócios cujos dados exigem armazenamento persistente em um banco de dados. É uma implementação do padrão Active Record, que em si é uma descrição de um sistema Mapeamento Relacional de Objeto.
</p>
