<h1>HTTP</h1>

<h3>2. Quais são os métodos de requisição HTTP, e qual são mais utilizados?</h3>

<p>GET</p>
  
<p>POST</p>

<p>PUT</p>

<p>DELETE</p>

<p>TRACE</p>

<p>OPTIONS</p>

<p>PATCH</p>

<p>CONNECT</p>

<p>HEAD</p>

<p>
	Os métodos que não alteram nada no servidor e que podemos chamar várias vezes são o que chamamos de métodos idempotentes.
	GET, OPTIONS, HEAD, PUT, TRACE, CONNECT e DELETE são idempotentes.
</p>